[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset | %C(bold)%an' --abbrev-commit --date=relative
  st = status
  cm = commit -m
  a = add
  b = branch
  r = restore
  rs = restore --staged
  d = diff
  ds = diff --staged
  
[core]
  whitespace = cr-at-eol
  autocrlf = input

